.image1{
    box-sizing: border-box;
    height: auto;
    max-height: 200px;
    max-width: 100%;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
 
}
/* .main-carousal{
    width: 4000px;
    height: 200px;
} */