.row1{
    height: 130rem;
}
.card2{
    width: 18rem;
    margin-left: 7rem;
    height: 200px;
    border-radius: 0%;
    
}
.bodycard{
    border: 0ch;
    border: solid 1px white;
}
 .lastrow{
    background-color: #0b79bf;
    
 }
  .lastcol{
    margin-left: 6rem;
  } 
  .bottonicons{
    color: rgb(155, 181, 204);
  }